<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><a [routerLink]="'preview'">Browse transformers</a></button>
          <button mat-menu-item><a [routerLink]="'entry'">New transformer</a></button>
        </mat-menu>
    <div class="row m-4">
        <div class="col-sm">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>