<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Preview component</h2>
      <form>
        <mat-form-field>
          <input type="text" placeholder="Search" matInput [formControl]="filterControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md m-1" *ngFor="let transformer of filteredTransformers | async">
        <app-transformer [transformer]="transformer"></app-transformer>
      </div>
    </div>
  </mat-card-content>
</mat-card>